header{
    background-color: var(--headBg);
    width:100vw;
    
    }

    /* navigation style start */
    .header{
        padding: 1rem  0rem 5rem;
    }
    nav{
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       flex-wrap: wrap;
       margin: 0 auto;
       background-color: var(--headBg);
       padding: 0rem 3rem;
       
       position: fixed;
       top: 0.5%;
     
        
        z-index: 10;
    }
    .logo-container{
        position: relative;
        z-index: 11;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    }
    .logo-text{
        color: white;
        font-size: 1.5rem;
    }
    .menu-list{
        display: flex;
        align-items: center;
        gap: 1rem;
    
    }
    .menu-item{
    
    }
    .menu-link{
        color: white;
        font-size: 1rem;
    }


    .login-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .menu-button{
        display: none;
    }
    .login{
        color: white;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
    }
    .register{
        background-color: white;
        padding: 0.5rem 2rem;
        border-radius: 35px;
        font-size: 1rem;
        cursor: pointer;

    }
    /* navigation style end */

    /* header container start */

    .header-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 3rem;
        
    
      padding: 10rem 0rem 0;
        text-align: center;
    }
    .header-content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5rem;
        gap: 2rem;
    }
    .header-content-container h1{
        color: white;
        font-size: 4rem;
        line-height: 1;

    }
    .header-content-container p{
        color: #7B7B7B;
        
        font-size: 1rem;
        font-weight: 500;
        padding:0rem 2.5rem;
    }
    .button-container{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
       
    }
    .start-button{
        
        background-color: var(--green);
        color: #121212;
        padding: 1rem 2rem;
        border-radius: 3rem;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;

    }
    .arrow-section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;
        transform: rotate(15deg);
        margin-top: 2rem;
    }
    .transform-text{
       color: #DEDEDE;
       width: 120px;
       font-size: 0.8rem;
       font-weight: 700;
       font-family: var(--secondFont);

    }
    /* header container end */

    /* icon card container start */

.icon-container{
    display: flex;
   flex-wrap: wrap;

    align-items: center;
    justify-content: center;
   
margin: 6rem auto;


    

    
}

.icon-card{
    background-color: var(--iconbg);
    display: flex;
    align-items: center;
    justify-content: center;
 flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 2rem;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    
}

.icon-card-text{
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: 500;
}

.icon-card1{
    transform: rotate(-4deg) translateX(200px) ;
    z-index: 4;
    transition: all 0.5s;

}


.icon-card2{
    transform: rotate(4deg) translateY(50px);
    z-index: 3;
    transition: all 0.5s;

}

.icon-card3{
    transform: rotate(-7deg) translateX(-100px);
    z-index: 3;
    transition: all 0.5s;

}
 .icon-card4{
    transform: rotate(4deg) translateX(-250px) translateY(80px);
    z-index: 1;
    transition: all 0.5s;

}

/* mobile menu section start */

.menu-icon{
    position: relative;
    z-index: 10;
    width: 70px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all 1s;
}
.line{
    width: 2px;
    height: 25px;
    border-radius: 2px;
    background-color: var(--green);
    transition: all 1s;
}
.line1{
    transform: rotate(10deg);
    position: relative;
    animation-name: menuLine;
    animation-direction: alternate;
    animation-timing-function:cubic-bezier(1,-0.42, 1, 1);
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transition: all 1s;
}
.line2{
    transform: rotate(7deg);
    transition: all 1s;
}
.menu-icon.is-active .line2,
.menu-icon.is-active .line3{
    transform: rotate(90deg);
    transition: all  1s;
    
}
.menu-icon.is-active .line1{
 
    transform: translateX(12px);
    transition: all 1s;  animation: none;
}



/* mobile menu section end */

        /* icon card container end */
