#main{
    padding: 0 10rem;
}
.note-section{

}
.note-section-wrapp{
    text-align: start;
    padding: 4rem 0;
}
.note-section-header{
    font-size: 3rem;
    color: #2E2E2E;
font-weight: 500;

}
.note-section-header span{
    color: rgb(46, 46, 46,0.6);
}