.new-tabs{
    background-color: var(--green);
    padding: 2rem;
}
.newTabs-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

  
}
.newTabs-header{
    font-size: 3rem;
    color:var(--iconbg);
    text-align: center;
}

.newTabs-container{
    display: flex;
    gap: 2rem;

}
.newTabs-button-container{
    background-color: white;
    padding: 2rem 4rem;
    border-radius: 16px;
}   
.newTabs-button{
    color: white;
    background-color:var(--iconbg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;

}
.newTabs-container .transform-text {
    color: black;
}
.arrow-section-2{
    align-self: flex-start;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.arrow2{
    transform: rotate(163deg);
    
}
.arrow-section-3{
    align-self: flex-start;
    transform: translateY(-60px) rotate(15deg);
    align-self: flex-end;
}
.newTabs-content{
    color: var(--iconbg);
    font-size: 1rem;
    padding:  0 10rem;
    text-align: center;
    margin-top: 3rem;
}