
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x:hidden ;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
:root{
    --green:#A8FF35;
    --headBg: #050505;
    --secondFont:'Pacifico', cursive;
    --iconbg:#181818;
}


li{
    list-style: none;
    
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
}
.second-header{
    color: #323232;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}